<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Front-End Quiz</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:css styles/highl.css -->
  <link rel="stylesheet" href="bower_components/SyntaxHighlighter/styles/shCore.css">
  <link rel="stylesheet" href="bower_components/SyntaxHighlighter/styles/shThemeDefault.css">
  <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
  <!-- endbuild -->
  <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-1.0.9.min.js" data-apikey="!BUGSNAG KEY!"></script>
</head>
<body>
<a href="https://github.com/soswow/lobzik" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 101;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div id="loader">
  <div class="icon-refresh icon-spin"></div>
</div>

<div class="container">
  <div class="col-md-8 content">
    <ol class="breadcrumb">
      <li class="step login"><span>Login</span></li>
      <li class="step test"><span>Test questions</span></li>
      <li class="step coding"><span>Code assignment</span></li>
      <li class="step result"><span>Result</span></li>
      <li class="time "></li>
    </ol>

    <div id="login" class="screen">
      <div class="jumbotron">
        <h1>Ready to start?</h1>

        <p class="lead">Log in to take the Front-End skill test:</p>

        <p><a class="btn btn-lg btn-primary" href="/auth/github"><i class="icon-github-sign"></i> GitHub</a>
          <a class="btn btn-lg btn-primary" href="/auth/linkedin"><i class="icon-linkedin-sign"></i> LinkedIn</a></p>

        <!--<p class="lead">or some other way:</p>-->
<!---->
        <!--<p><a class="btn" href="#"><i class="icon-google-plus-sign"></i> Google</a> <a class="btn" href="#"><i-->
            <!--class="icon-facebook-sign"></i> Facebook</a></p>-->
      </div>
      <div class="row marketing">
        <div class="col-lg-9">
          <h4>What is behind login?</h4>
          <ul>
            <li>You have 30 minutes to complete the test</li>
            <li>There will be 3 questions with pre-determined selectable answers</li>
            <li>Additionally you're challenged with 2 code assignments + a bonus for extra capable developers</li>
            <li>We'll show you test results immediately for rapid feedback</li>
          </ul>
        </div>
      </div>
        </div>

    <div id="test" class="screen">
      <div class="row">
        <div class="col-md-6">
          <h2>Test</h2>
        </div>
        <div class="col-md-6 pagination-js"></div>
      </div>
      <div class="questions">
      </div>
    </div>

    <div id="coding" class="screen">
      <div class="row">
        <div class="col-md-6">
          <h2>Code</h2>
        </div>
        <div class="col-md-6 pagination-js"></div>
      </div>
      <div class="assignments">
      </div>
    </div>

    <div id="result" class="screen">
      <div class="jumbotron">
        <h2>Your total score is</h2>
        <span class="score total-score"></span>

        <div class="dense text-left" style="margin-top: 25px">
          You completed the test in <span class="took-time number"></span>.
          <span class="rightAnswers number"></span> answer(s) marked right.
          You wrongly marked <span class="wrongAnswers number"></span> answer(s).
          And didn't mark <span class="missedRightAnswers number"></span> right one(s). You've solved <span class="doneSolutions number"></span> of
          <span class="totalSolutions number"></span> coding problems.
        </div>

        <div class="dense text-left" style="margin-top: 25px">
          <div class="message bad hide">Thank you for trying the test! You
            came close. We wish you all success for the future and definitely keep
            developing your coding skills.</div>

          <div class="message ok hide">Cool! It seems that your skills are pretty high!</div>

          <div class="message good hide">Quite impressive. You certainly
            know some about front-end development.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 right-side">
    <div id="loggedin-user">

    </div>
    <button id="finish-button" class=" btn btn-success btn-block btn-lg">Finish test!</button>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span class="msg"></span>
    </div>
  </div>
</div>


<div id="language-chooser-modal" class="options-question modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">What language you will be solving coding problems with?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-lg" data-lang='javascript'>JavaScript</button>
        <button type="button" class="btn btn-primary btn-lg" data-lang='coffeescript'>CoffeeScript</button>
      </div>
    </div>
  </div>
</div>

<script id="pagination-tmpl" type="text/html">
  <ul class="pagination pull-right">
    <% _.each(questions, function(question, i){ %>
      <li <% if(i===current){%> class="active" <%}%> ><a class="page <%= question.name %> <%= doneClass(question) %>" href="#" data-index='<%= i %>'><%= labels[question.name] || i + 1  %></a></li>
    <% }) %>
    <li><a href="#" class="next"><%= nextLabel %> <i class="icon-arrow-right" style="margin-left: 5px"></i></a></li>
  </ul>
</script>

<script id="test-question-tmpl" type="text/html">
  <div class="row question <%= name %>" data-name="<%= name %>">
    <div class="col-md-12">
      <%= description %>

      <div class="your-answer">
        <% if (options) { %>
          <ul class="list-unstyled options">
            <% _.each(options, function(option, i){ %>
              <li><label class="option-answer"><input class="option <%= name %> index-<%= i %>" type="checkbox" data-question-name="<%= name %>" data-index="<%= i %>"/> <%= option %></label></li>
            <% }) %>
          </ul>
        <% } %>

        <% if (cloze) { %>
          <%= cloze %>
        <% } %>
      </div>
    </div>
  </div>
</script>

<script id="code-assignment-tmpl" type="text/html">
  <div class="assignment <%= name %>" data-name="<%= name %>">
    <div class="row">
      <div class="col-md-12">
        <%= description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group pull-right">
          <button class="reset-code btn btn-default">Reset initial code</button>
          <button class="test-code btn btn-primary">Test and save your code</button>
        </div>
      </div>
    </div>
    <textarea class="code name-<%= name %>" name="" id="" cols="30" rows="10"><%= solution || placeholderCode %></textarea>
  </div>
</script>

<script id="user-info-tmpl" type="text/html">
  <img src="<%= avatar %>" alt="<%- name %> avatar" class="pull-left avatar"/>
  <span class="name"><%- name %></span>
  <span class="email"><%- email %></span>
  <!--<i class='icon-#{authType}-sign'></i> -->
  <a class="logout btn btn-xs btn-default" href="/logout">Logout</a>
</script>

<!-- build:js scripts/vendor.js -->
<script src="bower_components/SyntaxHighlighter/scripts/XRegExp.js"></script>
<script src="bower_components/SyntaxHighlighter/scripts/shCore.js"></script>
<script src="bower_components/SyntaxHighlighter/scripts/shBrushCss.js"></script>
<script src="bower_components/SyntaxHighlighter/scripts/shBrushSass.js"></script>
<script src="bower_components/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
<script src="bower_components/SyntaxHighlighter/scripts/shBrushXml.js"></script>
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/codemirror/lib/codemirror.js"></script>
<script src="bower_components/codemirror/mode/coffeescript/coffeescript.js"></script>
<script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="bower_components/coffee-script/extras/coffee-script.js"></script>
<script src="bower_components/sass-bootstrap/js/alert.js"></script>
<script src="bower_components/sass-bootstrap/js/modal.js"></script>
<script src="bower_components/sass-bootstrap/js/transition.js"></script>
<script src="bower_components/sass-bootstrap/js/button.js"></script>
<!-- endbuild -->

<!-- build:js(.tmp) scripts/main.js -->
<script src="scripts/init.js"></script>
<script src="scripts/views/test_view.js"></script>
<script src="scripts/views/coding_view.js"></script>
<script src="scripts/views/result_view.js"></script>
<script src="scripts/views/login_view.js"></script>
<script src="scripts/views/main_view.js"></script>
<script src="scripts/model.js"></script>
<script src="scripts/router.js"></script>
<script src="scripts/start.js"></script>
<!-- endbuild -->
</body>
</html>
